body {
  background-color: #101021;
  color: white;
  font-family: Arial, sans-serif;
}

.emotion-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.webcam-container {
  position: relative;
  margin-bottom: 20px;
}

.webcam {
  width: 900px;
  height: 800px;
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 800px;
  border-radius: 8px;
  pointer-events: none;
}

.prediction-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  background: #7258E9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emotion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotion label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.emotion progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.emotion progress::-webkit-progress-bar {
  background-color: #9C83EC;
  border-radius: 10px;
}

.emotion progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: white;
}

.emotion label.angry {
  color: red;
}

.emotion label.neutral {
  color: lightgreen;
}

.emotion label.happy {
  color: orange;
}

.emotion label.fear {
  color: lightblue;
}

.emotion label.surprise {
  color: yellow;
}

.emotion label.sad {
  color: #2D333E;
}

.emotion label.disgust {
  color: pink;
}
