.preview-model-card {
    display: inline-table;
    border-radius: 15px ;
    padding: 10px;
    width: 290px;
    height: auto;
    min-height: 140px;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    background: #7258e9;
}


.heading {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.preview-model-btn {
    display: inline-flex;
    background-color: #6C58E9;
    border: 1.5px solid #fff;
    border-radius: 8px;
    border-style: 1px solid #fff;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 160px;
    height: 30px;
    padding: 20px;
    margin: 30px;
    list-style: none;
    text-align: center;
    align-items: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.preview-model-btn:hover
{
  opacity: 0.8;
}

.webcam {
    max-width: 250px;
    max-height: 250px;
    
    border-radius: 10px;
}