
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #101021;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.camera-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.Webcam, .Canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Prediction {
  font-size: 1.5rem;
  margin-top: 20px;
  text-shadow: 0 0 3px #926850, 0 0 5px #060b0c;
}
